body {
  background: rgb(204,204,204);
  margin: 40px;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  width: 21cm;
  height: 29.7cm;
  padding: 30px;
}

.col {
  border: black thin solid;
}

.col-header {
  text-align: center;
  height: 24px;
}

.ficha {
  margin: 10px;
}